.lossPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img{
    margin-bottom: 40px;
  }

  a{
    font-weight: bold;
    color: $primary-color;
  }
}